.contact {
  margin-top: 120px;
  margin-bottom: 120px;
  @include d(s) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.contact form {
  label {
    @include type-1(18);
    display: block;
  }
  input[type="text"], textarea {
    @include type-1(18);
    color: $text-color;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: 2px solid $tertiary-color;
    background: transparent;
    margin-bottom: 1rem;
    &:hover, &:focus {
      outline: none;
      border-color: $secondary-color;
    }   
  }
  textarea {
    height: 120px;
  }
}

input.button {
  @include type-1(18);
  cursor: pointer;
  color: $tertiary-color;
  text-transform: uppercase;
  border: 2px solid $tertiary-color;
  background: transparent;
  display: block;
  width: 200px;
  padding-top: 5px;
  @include box-shadow(5px 5px 0 -2px $secondary-color, 
                      5px 5px 0 0 $tertiary-color);
  transition: .3s;
  &:hover {
    @include box-shadow(3px 3px 0 -2px $secondary-color, 
                      3px 3px 0 0 $tertiary-color);
  }
}

.contact-info {
  display: inline-block;
  color: $tertiary-color;
	margin-top: 2rem;
	margin-bottom: 3rem;
  @include d(l) {
    float: right;
    text-align: right;
    margin-top: -3rem;
  }
}

.contact-map {
  display: block;
  @include box-shadow(0 0 0 10px $secondary-color);
  clear: both;
  img {
    width: 100%;
  }
}