footer {
  padding: 20px 0;
  background: $text-color;
  @include box-shadow(0 0 0 10px $text-color);
  p {
    color: $primary-color;
    @include d(s) {
      text-align: center;
    }
  }
  a img {
    float: right;
    @include d(s) {
      float: none;
      margin: 20px auto;
    }
  }
}