// Colors
$primary-color: #fff; //bege-claro
$secondary-color: #6b0b0d; //bege-medio
$tertiary-color: #6b0b0d; //bege-escuro
$text-color: #333333; //cinza
$success-color: #1ab912; //verde

// Fonts
$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

@function rem($pixel){
  @return $pixel / 16 + rem;
}

@mixin type-1($size) {
  font-family: $font-1;
  @if $size == 18 {
    font-size: rem(18);
    line-height: rem(30);
  }
}

@mixin type-2($size) {
  font-family: $font-2;
  @if $size == 18 {
    font-size: rem(18);
    line-height: rem(30);
  }
  @else if $size == 24 {
    font-size: rem(24);
    line-height: rem(30);
  }
}

// Box shadow 
@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}


